/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* :root {
  --primary: #d44d4d;
  --accent: #F5DEB3;
  --bg: #fffdf7;
  --text: #333;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:#fffdf7;
  color: #333;
  line-height: 1.6;
  padding: 0;
}

header {
  background-color: #d44d4d;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #F5DEB3;
  padding: 10px;
  text-align: center;
}

nav a {
  color:  #333;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #d44d4d;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
section img{
  height: 400px;
  align-items: center;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flexbox layout for menu/gallery */
.menu-table, .gallery-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu-item, .gallery-item {
  border: 1px solid #d2c0c0;
  padding: 15px;
  border-radius: 8px;
  width: 300px;
  background: #8fb7c9;
  .menu {
  text-align: center;
  padding: 2rem;
}
.menu ul {
  list-style: none;
}

}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #d44d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #8b1e1e;
}

@media (max-width: 768px) {
  nav {
    font-size: 14px;
  }

  .menu-item, .gallery-item {
    width: 90%;
  }
}
